.pixel-1 {
  	position: absolute;
  	top: 18.5px;
  	left: 26px;
  	background-color: #fff;
  	width: 3.8px;
  	height: 3.8px;
}
.pixel-2 {
  	position: absolute;
  	top: 18.5px;
  	left: 29.75px;
  	background-color: #fff;
  	width: 3.8px;
  	height: 3.8px;
}
.pixel-3 {
  	position: absolute;
  	top: 18.5px;
  	left: 33.5px;
  	background-color: #fff;
  	width: 3.8px;
  	height: 3.8px;
}
.pixel-4 {
  	position: absolute;
  	top: 18.5px;
  	left: 22.25px;
  	background-color: #fff;
  	width: 3.8px;
  	height: 3.8px;
}
.pixel-5 {
  	position: absolute;
  	top: 14.75px;
  	left: 18.5px;
  	background-color: #fff;
  	width: 3.8px;
  	height: 3.8px;
}
.pixel-6 {
  	position: absolute;
  	top: 14.75px;
  	left: 14.75px;
  	background-color: #fff;
  	width: 3.8px;
  	height: 3.8px;
}
.pixel-7 {
  	position: absolute;
  	top: 14.75px;
  	left: 37.25px;
  	background-color: #fff;
  	width: 3.8px;
  	height: 3.8px;
}
.pixel-8 {
  	position: absolute;
  	top: 14.75px;
  	left: 41px;
  	background-color: #fff;
  	width: 3.8px;
  	height: 3.8px;
}
.pixel-9 {
  	position: absolute;
  	top: 11px;
  	left: 44.75px;
  	background-color: #fff;
  	width: 3.8px;
  	height: 3.8px;
}
.pixel-10 {
  	position: absolute;
  	top: 11px;
  	left: 11px;
  	background-color: #fff;
  	width: 3.8px;
  	height: 3.8px;
}
.pixel-11 {
  	position: absolute;
  	top: 18.5px;
  	left: 11px;
  	background-color: #fff;
  	width: 3.8px;
  	height: 3.8px;
}
.pixel-12 {
  	position: absolute;
  	top: 22.25px;
  	left: 18.5px;
  	background-color: #fff;
  	width: 3.8px;
  	height: 3.8px;
}
.pixel-13 {
  	position: absolute;
  	top: 22.25px;
  	left: 37.25px;
  	background-color: #fff;
  	width: 3.8px;
  	height: 3.8px;
}
.pixel-14 {
  	position: absolute;
  	top: 18.5px;
  	left: 44.75px;
  	background-color: #fff;
  	width: 3.8px;
  	height: 3.8px;
}
.lil-pixel-frame {
  	width: 60px;
  	position: relative;
  	height: 30px;
  	overflow: hidden;
  	flex-shrink: 0;
}
.menu {
  	position: relative;
  	line-height: 100%;
}
.lil-pixel-frame-parent {
  	height: 47px;
  	display: flex;
  	flex-direction: column;
  	align-items: center;
  	justify-content: center;
}
.navbar {
  	align-self: stretch;
  	border-radius: 5px;
  	background-color: #000;
  	overflow: hidden;
  	display: flex;
  	flex-direction: column;
  	align-items: center;
  	justify-content: center;
  	padding: 8px 0px;
}
.navbar-wrapper {
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: flex-start;
}
.hi {
  	height: 152px;
  	overflow: hidden;
  	flex-shrink: 0;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	justify-content: center;
}
.introduction-paragraph {
  	margin: 0;
}
.introduction-container {
  	align-self: stretch;
  	position: relative;
  	font-weight: 600;
}
.introduction-text {
  	align-self: stretch;
  	overflow: hidden;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	justify-content: center;
  	padding: 8px 0px;
  	font-size: 16px;
  	font-family: Poppins;
}
.introduction {
  	align-self: stretch;
  	border-radius: 20px;
  	overflow: hidden;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	justify-content: flex-start;
}
.education1 {
  	align-self: stretch;
  	position: relative;
  	display: inline-block;
  	height: 37px;
  	flex-shrink: 0;
}
.title {
  	align-self: stretch;
  	overflow: hidden;
  	display: flex;
  	flex-direction: column;
  	align-items: center;
  	justify-content: center;
}
.year-numbers {
  	align-self: stretch;
  	position: relative;
  	line-height: 148.11%;
}
.year-container {
  	overflow: hidden;
  	display: flex;
  	flex-direction: column;
  	align-items: center;
  	justify-content: flex-start;
  	padding: 8px 0px;
  	gap: 2px;
}
.universityname {
  	width: 378.7px;
  	position: relative;
  	display: inline-block;
}

.name {
  	align-self: stretch;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	justify-content: center;
  	gap: 8px;
}
.location {
  	align-self: stretch;
  	position: relative;
      font-size: 16px;
  	font-weight: 500;
  	font-family: Poppins;
  	color: rgba(0, 0, 0, 0.6);
}


.name-and-location {
  	flex: 1;
  	display: flex;
  	flex-direction: column;
  	align-items: center;
  	justify-content: flex-start;
  	gap: 4px;
  	text-align: left;
  	font-size: 16px;
  	color: #0f03ff;
}
.mome {
  	align-self: stretch;
  	height: 84px;
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: flex-start;
  	padding: 4px 0px;
  	box-sizing: border-box;
  	gap: 8px;
}
.hi-text {
  	align-self: stretch;
  	position: relative;
}
.course-name {
  	width: 378.7px;
  	position: relative;
  	font-size: 16px;
  	font-weight: 500;
  	font-family: Poppins;
  	color: #000;
  	display: inline-block;
}


.name-and-location1 {
  	flex: 1;
  	display: flex;
  	flex-direction: column;
  	align-items: center;
  	justify-content: flex-start;
  	gap: 4px;
  	text-align: left;
  	font-size: 15px;
  	color: #0f03ff;
}
.universities {
  	align-self: stretch;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	justify-content: center;
  	text-align: justify;
  	font-size: 36px;
  	font-family: 'Space Mono';
}
.education {
  	align-self: stretch;
  	overflow: hidden;
  	display: flex;
  	flex-direction: column;
  	align-items: center;
  	justify-content: flex-start;
  	text-align: left;
  	font-size: 32px;
  	font-family: Poppins;
}
.page-content {
  	align-self: stretch;
  	flex: 1;
  	background-color: #fff;
  	overflow: hidden;
  	display: flex;
  	flex-direction: column;
  	align-items: center;
  	justify-content: flex-start;
  	padding: 8px;
  	gap: 20px;
  	text-align: justify;
  	font-size: 150px;
  	color: #000;
}
.macbook-air-17 {
  	width: 100%;
  	position: relative;
  	background-color: #fff;
  	height: 2316px;
  	overflow: hidden;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	justify-content: flex-start;
  	padding: 16px;
  	box-sizing: border-box;
  	text-align: left;
  	font-size: 20px;
  	color: #fff;
  	font-family: 'Space Mono';
}

