.b {
    position: relative;
    line-height: 148.11%;
    font-size: 60px;
}
.about {
    position: relative;
    font-size: 60px;
    text-transform: uppercase;
    color: #000;
    text-align: left;
}
.parent {
    align-self: stretch;
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 16px;
    font-size: 100px;
}
.the-hungarian-national {
    margin: 0;
}
.the-hungarian-national-container {
    width: 599px;
    position: relative;
    font-family: Inter;
    color: #000;
    display: inline-block;
    height: 178px;
    flex-shrink: 0;
}
.ux-design {
    position: relative;
    font-weight: 500;
}
.bubble1 {
    border-radius: 60px;
    background-color: #0101ff;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 8px 32px;
}
.bubbles {
    width: 614px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 8px;
    text-align: center;
    color: #fff;
    font-family: Poppins;
}
.frame-group {
    flex: 1;
    height: 356px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 20px;
}
.macbook-mockups-1 {
    width: 528px;
    position: relative;
    max-height: 100%;
    object-fit: cover;
}
.macbook-mockups-1-wrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: -144px;
    position: relative;
}
.frame-parent {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    text-align: justify;
    font-size: 20px;
    color: #0f03ff;
    font-family: 'Space Mono';
}

.pixel-1 {
    position: absolute;
    top: 18.75px;
    left: 26px;
    background-color: #fff;
    width: 3.8px;
    height: 3.8px;
}
.pixel-2 {
    position: absolute;
    top: 0px;
    left: 26px;
    background-color: #fff;
    width: 3.8px;
    height: 3.8px;
}
.pixel-3 {
    position: absolute;
    top: 18.75px;
    left: 29.75px;
    background-color: #fff;
    width: 3.8px;
    height: 3.8px;
}
.pixel-4 {
    position: absolute;
    top: 0px;
    left: 29.75px;
    background-color: #fff;
    width: 3.8px;
    height: 3.8px;
}
.pixel-5 {
    position: absolute;
    top: 18.75px;
    left: 33.5px;
    background-color: #fff;
    width: 3.8px;
    height: 3.8px;
}
.pixel-6 {
    position: absolute;
    top: 0px;
    left: 33.5px;
    background-color: #fff;
    width: 3.8px;
    height: 3.8px;
}
.pixel-7 {
    position: absolute;
    top: 18.75px;
    left: 22.25px;
    background-color: #fff;
    width: 3.8px;
    height: 3.8px;
}
.pixel-8 {
    position: absolute;
    top: 0px;
    left: 22.25px;
    background-color: #fff;
    width: 3.8px;
    height: 3.8px;
}
.pixel-9 {
    position: absolute;
    top: 15px;
    left: 37.25px;
    background-color: #fff;
    width: 3.8px;
    height: 3.8px;
}
.pixel-10 {
    position: absolute;
    top: 3.75px;
    left: 37.25px;
    background-color: #fff;
    width: 3.8px;
    height: 3.8px;
}
.pixel-11 {
    position: absolute;
    top: 15px;
    left: 18.5px;
    background-color: #fff;
    width: 3.8px;
    height: 3.8px;
}
.pixel-12 {
    position: absolute;
    top: 3.75px;
    left: 18.5px;
    background-color: #fff;
    width: 3.8px;
    height: 3.8px;
}
.pixel-13 {
    position: absolute;
    top: 15px;
    left: 41px;
    background-color: #fff;
    width: 3.8px;
    height: 3.8px;
}
.pixel-14 {
    position: absolute;
    top: 3.75px;
    left: 41px;
    background-color: #fff;
    width: 3.8px;
    height: 3.8px;
}
.pixel-15 {
    position: absolute;
    top: 15px;
    left: 14.75px;
    background-color: #fff;
    width: 3.8px;
    height: 3.8px;
}
.pixel-16 {
    position: absolute;
    top: 3.75px;
    left: 14.75px;
    background-color: #fff;
    width: 3.8px;
    height: 3.8px;
}
.pixel-17 {
    position: absolute;
    top: 11.25px;
    left: 44.75px;
    background-color: #fff;
    width: 3.8px;
    height: 3.8px;
}
.pixel-18 {
    position: absolute;
    top: 7.5px;
    left: 44.75px;
    background-color: #fff;
    width: 3.8px;
    height: 3.8px;
}
.pixel-19 {
    position: absolute;
    top: 11.25px;
    left: 11px;
    background-color: #fff;
    width: 3.8px;
    height: 3.8px;
}
.pixel-20 {
    position: absolute;
    top: 7.5px;
    left: 11px;
    background-color: #fff;
    width: 3.8px;
    height: 3.8px;
}
.pixel-21 {
    position: absolute;
    top: 11.25px;
    left: 26px;
    background-color: #0101ff;
    width: 3.8px;
    height: 3.8px;
}
.pixel-22 {
    position: absolute;
    top: 7.5px;
    left: 26px;
    background-color: #0101ff;
    width: 3.8px;
    height: 3.8px;
}
.pixel-23 {
    position: absolute;
    top: 11.25px;
    left: 29.75px;
    background-color: #0101ff;
    width: 3.8px;
    height: 3.8px;
}
.pixel-24 {
    position: absolute;
    top: 7.5px;
    left: 29.75px;
    background-color: #0101ff;
    width: 3.8px;
    height: 3.8px;
}
.lil-pixel-frame {
    width: 60px;
    position: relative;
    height: 23px;
    overflow: hidden;
    flex-shrink: 0;
}
.menu {
    position: relative;
    line-height: 100%;
}
.lil-pixel-frame-parent {
    height: 47px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.about {
    position: relative;
    font-size: 16px;
    color: #fff;
}

.about-active {
    position: relative;
    font-size: 16px;
    color: #000;

}



.default {
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 8px 16px;
    color: #fff;
}
.active {
    border-radius: 100px;
    background-color: #fff;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 8px 16px;
    color: #000;
}
.home-parent {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 8px;
    font-size: 16px;
}
.navbar {
    align-self: stretch;
    flex: 1;
    border-radius: 15px;
    background-color: #000;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 8px 4px;
    gap: 8px;
}
.navbar-parent {
    width: 95%;
    position: fixed;
    align-self: center;
    margin: 8px;
    top: 20px;
    left: 16px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    text-align: left;
    font-size: 20px;
    color: #fff;
    font-family: 'Space Mono';
    z-index: 10;
}



a {
    text-decoration: none; /* Removes underline */
    color: inherit; 
  }


  .b {
    position: relative;
    line-height: 148.11%;
}
.about-the-project {
    position: relative;
    font-size: 60px;
    text-transform: uppercase;
    color: #000;
    text-align: left;
}
.parent {
    align-self: stretch;
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 16px;
    font-size: 100px;
}
.the-hungarian-national {
    margin: 0;
    font-family: poppins;
}
.about-introduction {
    width: 599px;
    position: relative;
    font-family: poppins;
    color: #000;
    display: inline-block;
    height: 178px;
    flex-shrink: 0;
}
.ux-design {
    position: relative;
    font-weight: 500;
}
.bubble1 {
    border-radius: 60px;
    background-color: #0101ff;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 8px 32px;
}
.bubbles {
    width: 614px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 8px;
    text-align: center;
    color: #fff;
    font-family: Poppins;
}

.about-introduction {
    flex: 1;
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 20px;
    font-family: poppins;
}
.macbook-mockups-1 {
    width: 528px;
    position: relative;
    max-height: 100%;
    object-fit: cover;
}
.macbook-mockups-1-wrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 0px;
    position: relative;
}
.frame-parent {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    text-align: justify;
    font-size: 20px;
    color: #0f03ff;
    font-family: 'Space Mono';
    
}

body {
    margin-top: 120px;
    margin-left: 40px;
    align-content: center;
}

.page-content {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 20px 8px;
    box-sizing: border-box;
    text-align: justify;
    font-size: 16px;
    color: #000;
    font-family: 'Space Mono';
  }

  .problem-parent {

    align-items: left;
  }

  .bullet-points {
    font-family: poppins;
    color: #000;
    font-size: 20px;

  }

  